body[data-theme="dark"] {
  .title-styles {
    color: white;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #31525b;
    color: white;
  }

  .section {
    background: linear-gradient(110deg, #040758 60%, #05086a 60%);
  }

  .bubble-text,
  h1 {
    color: white;
  }

  .about-section,
  .skills-section {
    background: white;
  }

  .projects-section {
    background: linear-gradient(110deg, #040758 60%, #05086a 60%);
    .section-title span {
      color: white !important;
    }

    .project-title-settings {
      color: white;
    }
  }
}
