@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* sections */

.dev-name {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
}

.section {
  height: 100vh;
  background-color: rgb(221, 199, 199);
}

.main-content {
  display: flex;
  align-items: center;
  font-size: medium;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 60px);
}

/* Header.js */
.header-aligner {
  font-family: "Raleway", sans-serif;
}

.language-section {
  height: 0.5em;
}

.switch,
.title-animation {
  margin: 2em 0;
}

.thought-bubble {
  color: white;
  font-size: 80px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.owl-emoji,
.sun-emoji {
  display: block;
  height: 100%;
  font-size: 25px;
  text-align: end;
  margin-left: 20px;
}

.language-icon {
  font-size: 50px;
  margin: 0 0.5em;
  cursor: pointer;
}

/* About Section */

.about-section {
  background-color: white;
}

.about {
  padding-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}

.about-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.polaroid {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* width: 100%; */
}

.polaroid-image-span {
  background: #fff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.polaroid img {
  display: block;
  max-width: 200px;
}

.about-me-info {
  background: #fff;
  display: inline-block;
  margin: 0px 16px;
  padding: 0px 0px 30px 0px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  width: 580px;
  height: 250px;
}

.circle-icons-div {
  text-align: left;
  border-bottom: 1px solid rgb(185, 184, 184);
  width: 100%;
  background-color: rgb(238, 234, 234);
  padding: 0px;
}

.circle-icon {
  margin-left: 8px;
  font-size: 10px;
}

.about-text-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  padding: 16px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  word-spacing: 6px;
}

/* projects-section */

.caousel-div {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.portfolio-item {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.project-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 32px;
}

.project-date {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px 2px 15px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #696969;
  border-radius: 0 0 5px 5px;
  background-color: #696969;
  color: white;
}

.section-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.project-title-settings {
  margin-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}
.foto img {
  display: block;
  width: 100%;
}

.foto div {
  background: #ffffff;
  display: inline-block;
  margin: 0 auto 5% auto;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

.foto div:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* skills-section */

.skills-section {
  background-color: white;
  display: flex;
  align-items: center;
}

#skills {
  background: #1f1f1f;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  color: #ffffff;
}

.icon-tile {
  font-size: 180%;

  text-align: center !important;
  position: relative;
}

.list-items {
  display: inline-block;
  margin-right: 0.5rem;
}

.skills-tile {
  background-color: rgba(248, 245, 244, 0.05);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center !important;
}

.skill-icons {
  text-align: center !important;
  font-family: "devicon";
  font-size: 220%;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.skill-texts {
  font-size: 80%;
  margin-top: 4px;
  text-align: center;
  color: white;
}

#horizontal-list {
  margin: 0 auto;
}

/* media queries */

@media only screen and (max-width: 480px) {
  .section {
    min-height: 100vh;
  }
}
