// Google Fonts

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

// Variables

$body-view-height: 100vh;
$body-view-width: 100vw;

// Developer name variables
$dev-name-font-size: 2em;
$dev-name-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
  sans-serif;
$dev-name-font-color: #353239;

/************************* Light-Theme values  ************************/

$light-theme-bg: rgb(221, 199, 199);
$light-them-white-bg: #ffffff;

/*************************************************************************/

// Language Section
$language-section-height: 0.5em;
$language-section-bottom: 6rem;

// Mobile width
$mobile-width: 480px;
