@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/************************* Light-Theme values  ************************/
/*************************************************************************/
body[data-theme="dark"] .title-styles {
  color: white;
}

body[data-theme="dark"] .link-href {
  color: white;
}

body[data-theme="dark"] .project-date {
  background-color: #31525b;
  color: white;
}

body[data-theme="dark"] .section {
  background: linear-gradient(110deg, #040758 60%, #05086a 60%);
}

body[data-theme="dark"] .bubble-text,
body[data-theme="dark"] .section-title,
body[data-theme="dark"] .dev-name {
  color: white;
}

body[data-theme="dark"] .about-section,
body[data-theme="dark"] .skills-section {
  background: white;
}

body[data-theme="dark"] .projects-section {
  background: linear-gradient(110deg, #040758 60%, #05086a 60%);
}

body[data-theme="dark"] .projects-section .section-title span {
  color: white !important;
}

body[data-theme="dark"] .projects-section .project-title-settings {
  color: white;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 55px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #979090;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 0px;
  content: "";
  height: 24px;
  left: 0px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 24px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(31px);
          transform: translateX(31px);
}

input:checked + .slider {
  background-color: #073180;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) {
  /************** Home Section ***********/
  .toggle-theme {
    height: 31px;
    width: 66px;
  }
  .slider:before {
    height: 30px;
    width: 28px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(38px);
            transform: translateX(38px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  margin: 0;
  width: 100vw;
}

/* sections */
.section {
  height: 100vh;
  background: linear-gradient(110deg, #81c7cd 60%, #a5d7db 60%);
  padding: 2rem 0;
  /* Add some more padding on top and on bottom */
  height: calc(var(--vh, 1vh) * 100);
}

/* Home / first section */
.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  /* needed to position the language section absolute within this section */
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: medium;
  height: calc(100% - 90px);
}

/* Header.js */
.header-aligner {
  font-family: "Raleway", sans-serif;
}

.thought-bubble {
  -webkit-animation-name: inline-ua17363cc;
          animation-name: inline-ua17363cc;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: white;
  font-size: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@-webkit-keyframes inline-ua17363cc {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes inline-ua17363cc {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0px;
  }
}

.dev-name {
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
}

.bubble-text {
  font-size: 0.85em;
  padding-top: 4px;
}

.title-animation {
  margin: 2em 0;
}

.title-animation {
  font-size: 0.75em;
}

.owl-emoji,
.sun-emoji {
  display: block;
  height: 100%;
  font-size: 22px;
  text-align: end;
}

.language-section {
  height: 0.5em;
  bottom: 6rem;
  /* Padding from .home.section + some extra padding */
}

.language-icon {
  font-size: 45px;
  margin: 0 0.5em;
  cursor: pointer;
}

/* About Section */
.about-section {
  background: #ffffff;
  padding-top: 1.5rem;
}

.section-title,
.about-section-title {
  font: 14px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  margin: 2em;
}

.about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0em;
}

.polaroid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
}

.polaroid-image-span {
  background: #ffffff;
  display: inline-block;
  margin: 12px 75px 15px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  width: 144px;
}

img.avatar {
  height: 150px;
}

.mern-stack-icons {
  font-size: 90%;
  margin: 6% 7% 0 5%;
}

.about-me-info {
  background: #fff;
  display: inline-block;
  margin: 3em 1em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  width: 300px;
  height: 150px;
  max-width: 300px;
}

.about-me-info > span {
  width: 100%;
}

.circle-icons-div {
  text-align: left;
  border-bottom: 1px solid #b9b8b8;
  width: 100%;
  background-color: #eeeaea;
  padding: 0px;
}

.circle-icon {
  margin-left: 8px;
  font-size: 8px;
}

.about-text-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  padding: 9px;
  text-align: justify;
  line-height: 15px;
  display: inline-block;
  margin: 0 auto;
  word-spacing: 8px;
  font-size: 10px;
}

/* projects-section */
.projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0em 1em 0.5em 1em;
}

.flip-outer-div {
  margin: 0.75em 1.3em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.flip-card {
  width: 106px;
  height: 122px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 0;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-outer-div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f3d2d2;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-size: 75%;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flip-card-back > div {
  width: 80%;
}

.project-title {
  margin-bottom: 1.5em;
}

.project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

/* skills-section */
.skills-section {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills {
  background: #1f1f1f;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5%;
  color: #ffffff;
}

.skills-title {
  color: #ffffff;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 2%;
}

#horizontal-list {
  margin: 0 auto;
}

.icon-tile {
  font-size: 180%;
  text-align: center !important;
  position: relative;
}

.list-items {
  display: inline-block;
  margin-right: 0.5rem;
}

.skills-tile {
  background-color: rgba(248, 245, 244, 0.05);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center !important;
}

.skill-icons {
  text-align: center !important;
  font-family: "devicon";
  font-size: 220%;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.skill-texts {
  font-size: 80%;
  margin-top: 4px;
  text-align: center;
  color: white;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-contact {
  height: 80px;
  width: 84px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 9px;
  margin: 2em 0em;
}

.logo-contact > img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 92%;
  width: 92%;
}

#socials {
  background: #1f1f1f;
  color: white;
  width: 55%;
  border-radius: 45px;
}

#socials > div {
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons {
  margin: 2.5em 0em 0em;
}

.social-media-icons {
  margin: 0.25em;
  font-size: 150%;
  cursor: pointer;
}

.moto {
  font-style: italic;
  font-size: 0.75em;
}

.contact-title {
  margin-top: 1em;
  font-size: 0.75em;
}

.social-links {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 375px) {
  /************** Home Section ***********/
  .thought-bubble {
    font-size: 54px;
  }
  .dev-name {
    font-size: 1.75em;
  }
  .bubble-text {
    font-size: 0.85em;
    padding-top: 4px;
  }
  .owl-emoji,
  .sun-emoji {
    font-size: 25px;
  }
  /********************** About ME Section *********************/
  .section-title,
  .about-section-title {
    font-size: 19px;
    margin: 2em 0em 1em;
  }
  .about-contents {
    margin: 3em 0em;
  }
  .about-text-content {
    font-size: 13px;
    word-spacing: 6px;
    line-height: 18px;
  }
  .about-me-info {
    height: 190px;
  }
  .about-section {
    padding-top: 1.5rem;
  }
  /******************** Project Section **********************/
  .project-card-div {
    margin: 2% 3% 0.5% 1%;
  }
  .flip-card {
    width: 110px;
    height: 126px;
  }
  .flip-outer-div {
    margin: 4.4%;
  }
}

@media (min-width: 576px) {
  /******************** Project Section **********************/
  .flip-outer-div {
    margin: 8%;
  }
  .flip-card {
    width: 144px;
    height: 171px;
  }
}

@media (min-width: 768px) {
  /************** Home Section ***********/
  .thought-bubble {
    font-size: 58px;
  }
  .dev-name {
    font-size: 2.2em;
  }
  .bubble-text {
    font-size: 0.85em;
    padding-top: 8px;
  }
  .title-animation {
    font-size: 1em;
  }
  .owl-emoji,
  .sun-emoji {
    font-size: 30px;
  }
  .dark-mode-section {
    margin-bottom: 1em;
  }
  .thought-bubble {
    font-size: 62px;
  }
  /******************** ABOUT ME Section **********************/
  .section-title,
  .about-section-title {
    font-size: 23px;
    margin: 2em;
    letter-spacing: 4px;
  }
  .polaroid-image-span {
    margin: 27px 15px 30px 35px;
    padding: 15px 15px 30px;
    width: 200px;
  }
  img.avatar {
    max-width: 243px;
    height: 221px;
  }
  .mern-stack-icons {
    font-size: 150%;
    margin: 9% 5% 0 5%;
  }
  .about-me-info {
    height: 253px;
    max-width: 542px;
    width: 541px;
    margin: 3em;
  }
  .about-contents {
    margin: 5em 3em;
  }
  .about-text-content {
    padding: 16px;
    font-size: 18px;
    line-height: 31px;
  }
  /******************** Project Section **********************/
  .project-card-div {
    margin: 3em 2em;
  }
  .flip-card {
    width: 166px;
    height: 212px;
  }
  .flip-outer-div {
    margin: 3em;
  }
}

@media (min-width: 1024px) {
  /******************** ABOUT ME Section **********************/
  .section-title,
  .about-section-title {
    font-size: 19px;
    margin: 2em;
    letter-spacing: 6px;
  }
  .polaroid-image-span {
    margin: 4px 10px 30px 45px;
    padding: 14px 13px 30px;
    width: 212px;
  }
  img.avatar {
    max-width: 278px;
    height: 218px;
  }
  .mern-stack-icons {
    font-size: 150%;
    margin: 9% 7% 0 5%;
  }
  .about-me-info {
    height: 208px;
    max-width: 535px;
    width: 531px;
  }
  .circle-icons-div {
    padding: 4px;
  }
  .circle-icon {
    font-size: 11px;
  }
  .about-text-content {
    padding: 18px;
    font-size: 15px;
    line-height: 26px;
  }
  .about-contents {
    margin: 4em 0em;
  }
  .project-card-div {
    margin: 2em 2em;
    width: 85%;
  }
  .flip-outer-div {
    margin: 2em 1em;
  }
  .flip-card {
    width: 154px;
    height: 189px;
  }
  .slider:before {
    height: 25px;
    width: 22px;
  }
  .toggle-theme {
    height: 25px;
    width: 60px;
  }
  .owl-emoji,
  .sun-emoji {
    font-size: 26px;
  }
}

@media (min-width: 1440px) {
  /******************** ABOUT ME Section **********************/
  .section-title,
  .about-section-title {
    font-size: 20px;
  }
  .polaroid-image-span {
    margin: 35px 10px 30px 45px;
    padding: 24px 15px 30px;
    width: 235px;
  }
  img.avatar {
    max-width: 254px;
    height: 272px;
  }
  .mern-stack-icons {
    font-size: 150%;
    margin: 9% 5% 0 5%;
  }
  .about-me-info {
    height: 234px;
    max-width: 510px;
    width: 510px;
  }
  .circle-icon {
    font-size: 9px;
  }
  .about-contents {
    margin: 4em 0em;
  }
  .about-text-content {
    padding: 30px 18px;
    font-size: 19px;
    line-height: 22px;
  }
  /************************* Projects Section  *************************/
  .project-card-div {
    margin: 9em 2em;
  }
  .flip-card {
    width: 200px;
    height: 230px;
  }
}

@media (min-width: 1680px) {
  .dev-name {
    font-size: 4em;
  }
  .thought-bubble {
    font-size: 107px;
  }
  .title-animation {
    font-size: 2em;
  }
  .owl-emoji,
  .sun-emoji {
    font-size: 48px;
  }
  .toggle-theme {
    height: 38px;
    width: 88px;
  }
  .slider:before {
    height: 39px;
    width: 39px;
  }
  .language-section {
    height: 5em;
  }
  .language-icon {
    font-size: 70px;
  }
  img.avatar {
    max-width: 317px;
    height: 361px;
  }
  .about-section-title,
  .section-title {
    font-size: 38px;
  }
  .flip-card {
    width: 256px;
    height: 308px;
  }
  .skill-icons {
    font-size: 360%;
  }
  .skill-texts {
    font-size: 108%;
  }
  .skills-tile {
    width: 133px;
    margin: 5px 2px;
  }
  .mern-stack-icons {
    font-size: 260%;
    margin: 9% 5% 0 5%;
  }
  .polaroid-image-span {
    width: 319px;
  }
  .about-me-info {
    height: 314px;
    max-width: 800px;
    width: 745px;
  }
  .circle-icon {
    font-size: 12px;
  }
  .about-text-content {
    padding: 33px 18px;
    font-size: 25px;
    line-height: 38px;
  }
  #socials {
    width: 50%;
    height: 47%;
  }
  .moto,
  .contact-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .social-icons {
    margin: 5.5em 0em 0em;
  }
  .social-media-icons {
    font-size: 186%;
  }
}
/*# sourceMappingURL=App.css.map */