@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/************************* Light-Theme values  ************************/
/*************************************************************************/
body[data-theme="dark"] .title-styles {
  color: white;
}

body[data-theme="dark"] .link-href {
  color: white;
}

body[data-theme="dark"] .project-date {
  background-color: #31525b;
  color: white;
}

body[data-theme="dark"] .section {
  background: linear-gradient(110deg, #040758 60%, #05086a 60%);
}

body[data-theme="dark"] .bubble-text,
body[data-theme="dark"] h1 {
  color: white;
}

body[data-theme="dark"] .about-section,
body[data-theme="dark"] .skills-section {
  background: white;
}

body[data-theme="dark"] .projects-section {
  background: linear-gradient(110deg, #040758 60%, #05086a 60%);
}

body[data-theme="dark"] .projects-section .section-title span {
  color: white !important;
}

body[data-theme="dark"] .projects-section .project-title-settings {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* sections */
.section {
  height: 100vh;
  background: linear-gradient(110deg, #81c7cd 60%, #a5d7db 60%);
  padding: 2rem 0;
  /* Add some more padding on top and on bottom */
}

@media (max-width: 480px) {
  .section {
    min-height: 100vh;
    height: auto;
    /* This is necessary because in line 32 you set a height.*/
  }
}

/* Home / first section */
.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  /* needed to position the language section absolute within this section */
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: medium;
  height: calc(100% - 60px);
}

/* Header.js */
.header-aligner {
  font-family: "Raleway", sans-serif;
}

.thought-bubble {
  -webkit-animation-name: inline-u99ee572f;
          animation-name: inline-u99ee572f;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: white;
  font-size: 80px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@-webkit-keyframes inline-u99ee572f {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes inline-u99ee572f {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 0px;
  }
}

.dev-name {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
}

.switch,
.title-animation {
  margin: 2em 0;
}

.owl-emoji,
.sun-emoji {
  display: block;
  height: 100%;
  font-size: 25px;
  text-align: end;
  margin-left: 20px;
}

.language-section {
  height: 0.5em;
  bottom: 6rem;
  /* Padding from .home.section + some extra padding */
}

.language-icon {
  font-size: 50px;
  margin: 0 0.5em;
  cursor: pointer;
}

/* About Section */
.about-section {
  background: #ffffff;
}

.about {
  padding-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}

.about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.polaroid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
}

.polaroid-image-span {
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.polaroid img {
  display: block;
  max-width: 200px;
}

.about-me-info {
  background: #fff;
  display: inline-block;
  margin: 0px 16px;
  padding: 0px 0px 30px 0px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  width: 580px;
  height: auto;
  /* Set height to auto so that it automatically fits to the screen */
}

.circle-icons-div {
  text-align: left;
  border-bottom: 1px solid #b9b8b8;
  width: 100%;
  background-color: #eeeaea;
  padding: 0px;
}

.circle-icon {
  margin-left: 8px;
  font-size: 10px;
}

.about-text-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  padding: 16px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  word-spacing: 6px;
}

/* projects-section */
.projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  padding-top: 3%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.carousel-div {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 600px;
  padding: 32px;
  margin: 40px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/****************************/
.container-slider {
  height: 100%;
  width: 500px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
  font-size: small;
}

.prev {
  top: 60%;
  left: 5%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.next {
  top: 60%;
  right: 5%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}

.dot.active {
  background: #202020;
}

/************************************************************/
/* skills-section */
.skills-section {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills {
  background: #1f1f1f;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5%;
  color: #ffffff;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

#horizontal-list {
  margin: 0 auto;
}

.icon-tile {
  font-size: 180%;
  text-align: center !important;
  position: relative;
}

.list-items {
  display: inline-block;
  margin-right: 0.5rem;
}

.skills-tile {
  background-color: rgba(248, 245, 244, 0.05);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center !important;
}

.skill-icons {
  text-align: center !important;
  font-family: "devicon";
  font-size: 220%;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.skill-texts {
  font-size: 80%;
  margin-top: 4px;
  text-align: center;
  color: white;
}
/*# sourceMappingURL=App.css.map */