@import "./variables";
@import "./themes/darkTheme.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// For thought bubble animation

@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

// For mobile device

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: $body-view-height;
  width: $body-view-width;
}

/* sections */

.section {
  height: $body-view-height;
  background-color: $light-theme-bg;
  padding: 2rem 0; /* Add some more padding on top and on bottom */

  @include mobile() {
    min-height: 100vh;
    height: auto; /* This is necessary because in line 32 you set a height.*/
  }
}

/* Home / first section */

.home-section {
  @include flexCenter(column);
  flex-wrap: wrap;
  position: relative; /* needed to position the language section absolute within this section */
}

.main-content {
  @include flexCenter(column);
  font-size: medium;
  height: calc(100% - 60px);
}

/* Header.js */
.header-aligner {
  font-family: "Raleway", sans-serif;
}

.thought-bubble {
  @include inline-animation(5s) {
    0% {
      margin-left: 0px;
    }

    50% {
      margin-left: 15px;
    }
    100% {
      margin-left: 0px;
    }
  }

  color: white;
  font-size: 80px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.dev-name {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
}

.switch,
.title-animation {
  margin: 2em 0;
}

.owl-emoji,
.sun-emoji {
  display: block;
  height: 100%;
  font-size: 25px;
  text-align: end;
  margin-left: 20px;
}

.language-section {
  height: $language-section-height;
  bottom: $language-section-bottom; /* Padding from .home.section + some extra padding */
}
.language-icon {
  font-size: 50px;
  margin: 0 0.5em;
  cursor: pointer;
}

/* About Section */

.about-section {
  background-color: $light-them-white-bg;
}

.about {
  padding-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}

.about-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
  flex-wrap: wrap;
}

.polaroid {
  @include flexCenter(row);
  overflow: visible;
}

.polaroid-image-span {
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.polaroid img {
  display: block;
  max-width: 200px;
}

.about-me-info {
  background: #fff;
  display: inline-block;
  margin: 0px 16px;
  padding: 0px 0px 30px 0px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  width: 580px;
  height: auto; /* Set height to auto so that it automatically fits to the screen */
}

.circle-icons-div {
  text-align: left;
  border-bottom: 1px solid rgb(185, 184, 184);
  width: 100%;
  background-color: rgb(238, 234, 234);
  padding: 0px;
}

.circle-icon {
  margin-left: 8px;
  font-size: 10px;
}

.about-text-content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  padding: 16px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  word-spacing: 6px;
}

/* projects-section */

.carousel-div {
  font-family: sans-serif;
  width: 100%;
  padding-top: 32px;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.project-contents {
  @include flexCenter(row);
  margin: 0px 32px;
}

.project-date {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px 2px 15px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #696969;
  border-radius: 0 0 5px 5px;
  background-color: #696969;
  color: white;
}

.section-title {
  padding-top: 3%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.project-title-settings {
  margin-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}
// .portfolio-item {
//   height: 200px;
// }
.foto img {
  display: block;
  width: 100%;
}

.foto div {
  background: #ffffff;
  display: inline-block;
  margin: 0 auto 5% auto;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

.foto div:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* skills-section */

.skills-section {
  background-color: white;
  display: flex;
  align-items: center;
}

#skills {
  background: #1f1f1f;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5%;
  color: #ffffff;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

#horizontal-list {
  margin: 0 auto;
}

.icon-tile {
  font-size: 180%;

  text-align: center !important;
  position: relative;
}

.list-items {
  display: inline-block;
  margin-right: 0.5rem;
}

.skills-tile {
  background-color: rgba(248, 245, 244, 0.05);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center !important;
}

.skill-icons {
  text-align: center !important;
  font-family: "devicon";
  font-size: 220%;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.skill-texts {
  font-size: 80%;
  margin-top: 4px;
  text-align: center;
  color: white;
}
